@model HumanResourcesManager.BLL.DTOs.ForgotPasswordDTO

<h3>🔑 Forgot Password</h3>

<form method="post">
    <label>Email</label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>

    <button class="btn btn-primary mt-3 w-100">
        Send OTP
    </button>
</form>

<p class="text-danger">@ViewBag.Error</p>
