<div id="pageLoadingOverlay" class="page-loading-overlay">
	<div class="page-loading-overlay__content">
		<img src="~/img/loading.gif" alt="Đang tải..." />
		<div class="page-loading-bar"><span class="page-loading-dot"></span><span class="page-loading-dot"></span><span class="page-loading-dot"></span></div>
	</div>
</div>