<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - PayFlow Pro</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="bg-slate-50 min-h-screen">

    @await Html.PartialAsync("../Employee/_Loading")

    <div class="flex h-screen overflow-hidden">
        @await Html.PartialAsync("_AdminSidebar")
        @RenderBody()


    @* @await Html.PartialAsync("_AdminHeader") *@

    @* <div class="admin-container">
        @await Html.PartialAsync("_AdminSidebar")

        <main class="admin-content">
            @RenderBody()
        </main>
    </div> *@

    </div>

    @await Html.PartialAsync("_AdminFooter")

    <!-- Modals will be inserted here by JavaScript -->
    <div id="modalContainer"></div>

    @* <script src="../wwwroot/js/admin.js"></script> *@
    <script src="~/js/loading.js"></script>
    <script src="~/js/admin_tab.js"></script>
    @* <script src="../wwwroot/js/loading.js"></script> *@
    @* <script src="../database.js"></script> *@
</body>
</html>
